<div class="login">
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <h1>Inicio de Sesión</h1>
              <div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                <!--<input type="text" class="form-control" placeholder="Username" required="" /> -->
              </div>
              <div>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                <!--<input type="password" class="form-control" placeholder="Password" required="" />-->
              </div>
              <div>
                <%= f.submit "Iniciar Sesión", class: 'btn btn-default submit' %>
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end -%>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">
                 <%= render "devise/shared/links" %>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Upsocl</h1>
                  <p>© Publisher</p>
                </div>
              </div>
            <% end %>
          </section>
        </div>
      </div>
    </div>